@import '../../styles/variables.less';

.ofx-btn {
  color: white;
  cursor: pointer;

  box-shadow: @primary-shadow;
  transition: @transition;

  background: @primary-gradient;

  border: none;

  border-radius: 20px;

  padding: 8px 20px 8px 20px;

  &:hover {
    transition: @transition;
    background: @active-gradient;

    box-shadow: @hover-shadow;
  }

  &:active {
    transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);

    box-shadow: @active-shadow;
  }
}
