.ofx-page-header__text {
  transition: @transition;

  font-size: 24px;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;

  background-color: @primary-gradient;
  color: white;

  display: block;
}

.ofx-page-header {
  width: 100%;
  padding-bottom: 2px;
  position: relative;
  background: @primary-gradient;

  margin-bottom: 2rem;

  box-shadow: @active-shadow;
}
