.ofx-customer-rate {
  font-size: 34pt;
  font-weight: 500;

  background: @primary-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ofx-title {
  font-size: 28pt;
}
