@primary-gradient: linear-gradient(to right, @primary-color, #ffb88c);
@active-gradient: linear-gradient(to right, darken(@primary-color, 10%), darken(#ffb88c, 10%));

@primary-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
@hover-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px 5px rgba(0, 0, 0, 0.22);
@active-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

@transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
